<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.so.sofinances"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/so_logo"
        android:label="@string/app_name"
        android:logo="@drawable/so_logo"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.so.sofinances.activities.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.so.sofinances.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.so.sofinances.activities.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.activities.WelcomeActivity" />
        </activity>

        <service
            android:name="com.so.sofinances.CheckLogin"
            android:exported="false" >
        </service>

        <activity
            andcom.so.sofinances.activities.RegisterActivityterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.so.sofinances.activities.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.activities.WelcomeActivity" />
        </activity>
        <activity
            andcom.so.sofinances.activities.UserHomeActivityomeActivity"
            android:label="@string/title_activity_user_home"
            android:parentActivityName="com.so.sofinances.activities.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.activities.WelcomeActivity" />
        </activity>
        <accom.so.sofinances.activities.AddAccountActivity.so.sofinances.AddAccountActivity"
            android:label="@string/title_activity_add_account"
            android:parentActcom.so.sofinances.activities.UserHomeActivityomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            andcom.so.sofinances.activities.AddTransactionActivityionActivity"
            android:label="@string/title_activity_add_transaction"
            androicom.so.sofinances.activities.UserHomeActivityances.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.AccountHomeActivity"
            android:label="@string/title_activity_transaction_home"
       com.so.sofinances.activities.UserHomeActivityom.so.sofinances.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            andcom.so.sofinances.activities.ReportViewActivityiewActivity"
            android:label="@string/title_activity_report_view" >
        </activity>
     com.so.sofinances.activities.DatePickingActivityengine.GraphicalActivity" />
        <activity
            android:name="com.so.sofinances.DatePickingActivity"
            android:label="@string/title_activity_date_picking" >
        </activity>
    </application>

</manifest>
