<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.so.sofinances"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/so_logo"
        android:label="@string/app_name"
        android:logo="@drawable/so_logo"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.so.sofinances.activities.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.so.sofinances.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.so.sofinances.activities.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.activities.WelcomeActivity" />
        </activity>

        <service
            android:name="com.so.sofinances.CheckLogin"
            android:exported="false" >
        </service>

        <activity
            android:name="com.so.sofinances.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.so.sofinances.activities.WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.UserHomeActivity"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name="com.so.sofinances.activities.AddAccountActivity"
            android:label="@string/title_activity_add_account"
            android:parentActivityName="com.so.sofinances.activities.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.AddTransactionActivity"
            android:label="@string/title_activity_add_transaction"
            android:parentActivityName="com.so.sofinances.activities.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.AccountHomeActivity"
            android:label="@string/title_activity_transaction_home"
       		android:parentActivityName="com.so.sofinances.activities.UserHomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.ReportViewActivity"
            android:label="@string/title_activity_report_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        <activity
            android:name="com.so.sofinances.activities.DatePickingActivity"
            android:label="@string/title_activity_date_picking" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.so.sofinances.UserHomeActivity" />
        </activity>
        
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>
